<div class="col s3" id="sidebar">
  <h4>Welcome, <br> <%= current_friend.name %></h4>
  <p>Yoopy puts you in contact with medical professionals quick so you can get help when you need it.</p>

  <div class="sidebar-items">
    <li><i class="material-icons">supervisor_account</i>Account</li>
    <li><i class="material-icons">help</i>Support</li>
  </div>
</div>
