<div class="col s3" id="sidebar">
  <h4>Welcome, <br> <%= current_friend.name %></h4>
  <h6>Looking for a medical professional?<br>Post a job below.</h6>

  <a class="modal-trigger btn-large green-button" href="#modal_friend">Post A Job</a>

  <div class="sidebar-items">
    <li><i class="material-icons">supervisor_account</i>Account</li>
    <li><i class="material-icons">help</i>Support</li>
  </div>
</div>
