
<div class="card">
  <% current_prof.bookings.resident.each do |booking| %>
        <div class="job-booked-title">
          <h4><%= booking.slot.reservable.name %></h4>
        </div>
        <div class="row card-content">
          <div class="col s6">
            <ul>
              <li>Job Name: <br>
                <p><%= booking.slot.reservable.name %></p></li>
              <li>Job Description: <br>
                <p><%= booking.slot.reservable.description %></p></li>
            </ul>
          </div>
          <div class="col s6">
            <ul>
              <li>Pay: <br>
                <p>$<%= booking.slot.reservable.rate %>0</p></li>
            </ul>
          </div>
        </div>
  <% end %>
  <% if current_prof.bookings.resident.nil? %>
    <div class="container">
      <h5>You havent booked any residential jobs.</h5>
    </div>
  <% end %>

</div>
