<div class="col s3" id="sidebar">
  <h4>Welcome, <br> <%= current_friend.name %></h4>

  <div class="sidebar-items">
    <li><i class="material-icons">supervisor_account</i>     Account</li>
    <li><i class="material-icons">help</i>     Support</li>
  </div>
</div>
