
<table class="rwd-table">

  <tr>
    <th>Job Title</th>
    <th>Description</th>
    <th>Rate</th>
    <th>Paid</th>
  </tr>
  <% current_prof.bookings.resident.each do |booking| %>
  <tr>
    <td data-th="Job Title"><%= booking.slot.reservable.name %></td>
    <td data-th="Description"><%= booking.slot.reservable.description %></td>
    <td data-th="Rate">$<%= booking.slot.reservable.rate %>0</td>
    <td data-th="Paid"><%= booking.paid %></td>
  </tr>

  <% end %>
</table>
  <% if current_prof.bookings.resident.nil? %>
    <div class="container">
      <h5>You havent booked any residential jobs.</h5>
    </div>
  <% end %>
