
<div class="sidebar-hospital">
  <ul>
    <!-- <li><i class="material-icons close" onclick="closeNavHospital()">close</i></li>
    <li><i class="material-icons spin" onclick="openNavHospital()">play_arrow</i></li> -->
    <li class="post-job"><i class="material-icons">local_hospital</i><%= link_to new_job_path, remote: true do %>
    <h6 onclick="formOpen()">Post A New Job</h6></li>
    <% end %>
    <li><a class="modal-trigger" href="#modal-account"><i class="material-icons">account_circle</i><h6>Account Info</h6></li>
    <li><a class="modal-trigger" href="#modal1"><i class="material-icons">build</i></a><h6 class="inner-list">Edit Account Info<h6></li>
    <li><a><i class="material-icons">help</i></a><h6 class="inner-list">Support<h6></li>
    <li><a href="/profs"><i class="material-icons">person_add</i></a><h6>Add Favorites</h6></li>
  </ul>
</div>
