  <h4>Welcome, <br> <%= current_prof.name %></h4>
  <div class="sidebar-items">
    <%= link_to prof_stripe_connect_omniauth_authorize_path do %>
    <li><i class="material-icons">attach_money</i>     Connect With Stripe</li>
    <% end %>
      <a class="modal-trigger" href="#modal-account"><li><i class="material-icons">supervisor_account</i>Account</li></a>
      <a class="modal-trigger" href="#modal1"><li><i class="material-icons">mode_edit</i>Update Account</li></a>

      <li><i class="material-icons">help</i>Support</li>
  </div>
