  <h4>Welcome, <%= current_prof.name %></h4>
  <div class="sidebar-items">
    <ul>
      <li><i class="material-icons">supervisor_account</i>Account</li>
      <li><i class="material-icons">help</i>Support</li>
    </ul>
  </div>
  <div class="sidebar-stripe">
      <%= link_to "Stripe Connect", stripe_connect_login_path, class:'btn'%>
  </div>
