  <h4>Welcome, <br> <%= current_prof.name %></h4>
  <div class="sidebar-items">
    <%= link_to stripe_connect_login_path do %>
    <li><i class="material-icons">attach_money</i>     Connect With Stripe</li>
    <% end %>
      <li><i class="material-icons">supervisor_account</i>Account</li>
      <li><i class="material-icons">help</i>Support</li>
  </div>
