
  <h1>First Name: <%= @prof.name %></h1> <%#= @li_profile['first_name'] %>
  <br />
  Last Name: <%#= @li_profile['last_name'] %>
  <br />
  Headline: Hello <%#= @li_profile['headline'] %>
  <br />
  LinkedIn Profile: <%#= link_to "Check out this profile", @li_profile['site_standard_profile_request']["url"] %>
