<div class="col s3" id="sidebar">
  <h4>Sidebar left</h4>
  <div class="sidebar-items">
    <li><i class="material-icons">supervisor_account</i>Account</li>
    <li><i class="material-icons">attach_money</i>Connect With Stripe</li>
    <li><i class="material-icons">help</i>Support</li>
  </div>
</div>
