<h1>THIS IS FRIEND DASHBOARD</h1>
<%= react_component("NewFriendJob", owner: current_friend.as_json(only: :id)) %>

<div class="container">
  <% current_friend.friendJobs.each do |job| %>
      <div class="card horizontal">
        <%= job.name %>
        <%= job.description %>
        <%= job.rate %>
      </div>
    <br />
  <% end %>
</div>
