<h1>THIS IS FRIEND DASHBOARD</h1>
<%= react_component("NewFriendJob", owner: current_friend.as_json(only: :id)) %>

<%= react_component("CurrentFriendJobsWrapper", friendJobs: current_friend.friendJobs.as_json) %>

<!-- <div class="container" id="friendJobs">
  <%# current_friend.friendJobs.each do |job| %>
      <div class="card horizontal">
        <%# job.name %>
          <br />
        <%# job.description %>
          <br />
        <%# job.rate %>
      </div>
    <br />
  <%# end %>
</div> -->
