<div class="hide-on-med-and-down">
  <div class="row" id="dashboard-wrapper">
    <%= render 'friend_sidebar' %>

    <div class="col s9" id="dash-content">
      <h5>Yoopy puts you in contact with medical professionals quick so you can get help when you need it.</h5>
      <%= react_component("NewFriendJob", owner: current_friend.as_json(only: :id)) %>
      <%= react_component("CurrentFriendJobsWrapper", friendJobs: current_friend.friendJobs.as_json) %>
    </div>
  </div>
</div>
