<div class="container">
  <h1>Yoopy Friends</h1>
  <h4>Yoopy puts you in contact with medical professionals quickly so you can get help when you need it.</h4>
  <%= react_component("AllFriendJobs", owner: current_friend.as_json(only: :id), friendJobs: @friendJobs.to_json) %>

</div>
