<div class="main">
  <div class="sidebar-stuff">
    <%= render 'hospital_sidebar' %>
    <div class="modal_back">
      <div id='modal_hospital' class=""></div>
    </div>
  </div>

<div class="H_dash">

<div class="dash_right">



      <!-- <div id="jobs" class="jobs-card-hospitals"> -->
        <%# if current_hospital.jobs.nil? %>
        <!-- <h4>You Don't Have Any Job Postings</h4> -->
        <%# else %>
        <%# react_component('JobContent', :jobs => @jobs) %>
        <%# end %>
      <!-- </div> -->


      <div class="edit-job"></div>
        <div class="all_jobs_wrap">
          <% current_hospital.jobs.each do |job| %>
          <div class="job_wrap">
            <div class="job_header">
              <h5><%= job.name %></h5>
              <i class="material-icons head-icon">edit</i>
            </div>
            <div class="job_content">
              <p><label>Description:</label><%= job.description %></p>

              <p><label>Rate:</label> $<%= job.rate %>0</p>
            </div>
            <div class="job_footer">
              <label>Spots:</label>
              <ul>
              <% job.slots.each do |slot| %>
              <% if slot.available %>
                <li> <i class="material-icons foot-icon">contacts</i></li>
                <% else %>
                <li> <i class="material-icons foot-icon">check_circle</i> </li>
                <% end %></li>
                  <% end %>
              </ul>
            </div>
          </div>
          <% end %>
        </div>
      </div>

    </div>
</div>
