  <div id="homepage1">
    <div class="homewrapper">
      <div class="headline-box">
        <h1 id="headline">On Demand <br>Medical Staffing</h1>
        <p id="sub-headline">Yoopy provides medical facilities with the opportunity to quickly connect with medical professionals when experience a shortage.</p>
        <%= link_to 'Become A Yoopy Facility', new_hospital_registration_path, id: 'facil-button', class: 'yoopy-button btn-large #1de9b6 teal accent-3' %>
        <%= link_to 'Become A Yoopy Professional', new_prof_registration_path, id: 'prof-button', class: 'yoopy-button btn-large #42a5f5 blue lighten-1' %>
      </div>

    </div>
  </div>


<!-- <div id="home"class="carousel carousel-slider">
  <div class="carousel-fixed-item center">
    <h1 class="white-text">Welcome To On-Demand Recruitment</h1>
  </div>
    <a class="carousel-item"><img src="https://images.pexels.com/photos/263402/pexels-photo-263402.jpeg?h=350&dpr=2&auto=compress&cs=tinysrgb"></a>
    <a class="carousel-item"><img src="https://images.pexels.com/photos/415779/pexels-photo-415779.jpeg?h=350&dpr=2&auto=compress&cs=tinysrgb"></a>
    <a class="carousel-item"><img src="https://images.pexels.com/photos/48603/pexels-photo-48603.jpeg?h=350&dpr=2&auto=compress&cs=tinysrgb"></a>
</div> -->
