@import "materialize";

/* --- COLORS ---
LIGHT BLUE: #77C9D4
SEA GREEN: #57BC90
FOREST GREEN: #015249
SLEEK GRAY: #A5A5AF
*/
h1, h2, h3, h4, h5, h6, p, a {
  font-family: 'Open Sans', sans-serif;
}

// Navigation
nav {
  background-color: #ffffff!important;
}
.nav-wrapper {
  padding: 0rem 6rem;
}
nav .brand-logo {
  color: #222!important;
}
body > nav > div > ul > li > a:hover,body > nav > div > ul > li > a:active {
  background-color: none;
}
nav ul li:hover, nav ul li a:hover{
   background-color: white;
   border-bottom: 2px solid #77C9D4;
}
body > nav > div > ul > li > a {
  color: #222;
  font-size: 18px;
  font-family: 'Open Sans', sans-serif;
}

.carousel-fixed-item center{
  position: relative;
  font-size: 25px;
  top: -25%;
}
.fadingEffect {
    position:absolute;
    top:0; bottom:0; right:0;
    width:100%;
    background:white;
}
.white-text h1{
  top: -25%;
  position: relative;
}
@keyframes fadeInFromLeft {
  from {left: 0}
  to {left: 100%}
}
.carousel carousel-slider {
  position: absolute;
}
