@import "materialize";

/* --- COLORS ---
LIGHT BLUE: #42a5f5
SEA GREEN: #1de9b6
FOREST GREEN: #015249
SLEEK GRAY: #A5A5AF
*/
h1, h2, h3, h4, h5, h6, p, a {
  font-family: 'Open Sans', sans-serif;
}



// Navigation
nav {
  background: rgba(255,255,255,0.4)!important;
}
.nav-wrapper {
  padding: 0rem 6rem;
}
nav .brand-logo {
  color: #222!important;
}
body > nav > div > ul > li > a:hover,body > nav > div > ul > li > a:active {
  background-color: none;
}
nav ul li:hover, nav ul li a:hover{
   background-color: #42a5f5;
   color: #fff;
}
body > nav > div > ul > li > a {
  color: #222;
  font-size: 18px;
  font-family: 'Open Sans', sans-serif;
}
// End of Navigation

// Home Page
.homewrapper {
  margin: 0 auto;
}
.home-container {
  max-width: 70%;
  margin: 0 auto;
}
.headline-box {
  height: 500px;
  width: 600px;
  display: block;
  float: right;
  margin: 10vh;
  color: #fff;
  text-align: left;
}
#headline {
  font-weight: 700;
}
#sub-headline {
  font-size: 26px;
}
#homepage1 {
  height: 85vh;
  width: 100%;
  border: 1px solid #ccc;
  background-image: url('yoopy4_resized.jpg');
  background-attachment: fixed;
  background-size: cover;
  background-repeat: no-repeat;
}
.yoopy-button {
  width: 25rem;

  padding: 2rem 0.5;
  font-size: 22px;
}
#facil-button {
  margin-bottom: 2rem;
  font-size: 18px;
}
#prof-button {
  font-size: 18px;
}
#homepage2 {
  margin-top: 6rem;
}
.underline {
  height: 2px;
  width: 100px;
  background-color: #1de9b6;
}
.subtext {
  font-size: 18px;
  color: #787878;
}
#for-facils, #for-profs {
  margin-top: 15rem;
}

// Dashboard
#dashboard-wrapper {
  height: 800px;
}
#sidebar {
  border-right: 1px solid #ccc;
  background-color: #242424;
  color: #fff;
  height: 1000px;
  position: relative;
  float: left;
  padding: 1rem 2rem;
}
.sidebar-items li {
  list-style: none;
  line-height: 3rem;
}
#dash-content {
  display: inline-block;
  float: right;
  padding: 1rem 2rem;
}

.col.s3 {
  z-index: -1;
}


// footer
.page-footer {
  background-color: #A5A5AF!important;
  z-index: 99999;
}
