@import "materialize";

/* --- COLORS ---
LIGHT BLUE: #42a5f5
SEA GREEN: #1de9b6
FOREST GREEN: #015249
SLEEK GRAY: #A5A5AF

LOGO GREEN: #48DA37
*/
h1, h2, h3, h4, h5, h6, p, a {
  font-family: 'Open Sans', sans-serif;
}
html {
  margin: -1rem 0rem;
}

body {

}

// spinner
#spinner {
  position: fixed;
  left: 50%;
  top: 133px;
  z-index: 1000;
  display: none;
}


// Navigation
nav {
  background: rgba(255,255,255,0.80);
  height: 90px;
}
.nav-wrapper {
  padding: 0rem 6rem;
}

body > nav > div > ul > li > a:hover,body > nav > div > ul > li > a:active {
  background-color: none;
}
body > nav > div > ul.right.hide-on-med-and-down > a:hover,.btn:hover, .btn-large:hover, .btn:focus, .btn-large:focus, .btn-floating:focus {
  background-color: #6bbf3d!important;
}
nav ul li:hover, nav ul li a:hover{
   // background-color: #42a5f5;
   background-color: #fff;;
   // color: #fff;
   border-bottom: 2px solid #48DA37;
}
body > nav > div > ul > li > a {
  color: #222;
  font-size: 20px;
  font-family: 'Open Sans', sans-serif;
  padding-top: 1rem;
}

#linkedin-signin img{
  margin-bottom: -1.1rem;
}
// End of Navigation

// Home Page
.homewrapper {
  margin: 0 auto;
}
.content {
  max-width: 70%;
  margin: 0 auto;
  margin-top: 4rem;
}

.home-container {
  max-width: 100%;
  margin: 0 auto;
  background: #fff;
  margin-bottom: -2rem;
}
.headline-box {
  height: 400px;
  width: 550px;
  display: block;
  // float: right;
  position: absolute;
  right: 0;
  margin: 10vh;
  color: #fff;
  text-align: left;
}
#headline {
  font-weight: 700;
}
#sub-headline {
  font-size: 26px;
}
#facil-button {
  background-color: #6bbf3d;
}
.green-button {
  background-color: #6bbf3d;
}
#homepage1 {
  height: 90vh;
  width: 100%;
  background-image: url('yoopy4_resized.jpg');
  background-attachment: fixed;
  background-size: cover;
  background-repeat: no-repeat;
}
.yoopy-button {
  width: max-content;
  padding: 2rem 0.5;
  font-size: 20px;
}
#cta-button {
  width: 100%;
}
#facil-button {
  margin-bottom: 2rem;
  font-size: 18px;
}
#prof-button {
  font-size: 18px;
}
#homepage2 {
  margin-top: 6rem;
}
#about-us {
  padding-top: 3rem;
}
#iphone-display {
  float: right;
}
.underline-green {
  height: 2px;
  width: 100px;
  background-color: #6bbf3d;
}
.underline-blue {
  height: 2px;
  width: 100px;
  background-color: #42a5f5;
}
.underline-gray {
  height: 2px;
  width: 10rem;
  background-color: #CCC;
  margin-bottom: 2rem;
}
.subtext {
  font-size: 18px;
  color: #787878;
  margin-bottom: 4rem;
}
#for-facils, #for-profs {
  margin-top: 15rem;
}
// End of home page desktop

// Home Page mobile
.button-collapse {
  color: #222;
}
#homepage1-mobile {
  background-image: url('yoopy_mobile.png');
  background-attachment: fixed;
  background-size: cover;
  background-repeat: no-repeat;
  height: 80vh;
}
#headline-mobile, #sub-headline-mobile {
  color: #fff;
}
#sub-headline-mobile {
  font-size: 22px;
}
.headline-box-mobile {
  margin-top: 0rem;
  padding: 4rem 3rem;
}
#homepage2-mobile {
  padding-top: 4rem;
}


// Dashboard
#dashboard-wrapper {
  height: 800px;
}
#sidebar {
  border-right: 1px solid #ccc;
  background-color: #242424;
  color: #fff;
  height: 1000px;
  position: relative;
  float: left;
  padding: 1rem 2rem;
  z-index: 9999;
}
.sidebar-items li {
  list-style: none;
  line-height: 4rem;
  width: 100%;
  text-align: left;
  color: #fff;
  font-size: 20px;
}
.sidebar-items li:hover {
  background-color: #111;
}
.sidebar-items {
  margin-top: 3rem;
}
#dash-content {
  display: inline-block;
  padding: 1rem 2rem;
  float: left;
}
#job-post-button {
  margin: 0rem 2rem 0rem 0rem;
}
#job-posting-card {
  padding: 2rem;
  border-radius: 12px 12px 12px 12px;
}
.jobs-card-hospitals, .new-job-card-hospitals {
  width: 50%;
}
.col.s3 {
  z-index: -1;
}

// Prof Dashboard
#edit_prof > div > label {
  font-size: 1.1rem;
}
#ask-linkedin {
  z-index: 3;
}
.job-booked-title {
  background: #42a5f5;
  padding: 1rem;
  text-align: center;
  color: #fff;
  border-radius: 12px 12px 0px 0px;
}

// Hospital Dashboard
#jobs {
  float: left;
}
#job-slots {
  float: right;
  display: inline-block;
}
.job-posting-title {
  background: #44C824;
  padding: 1rem;
  text-align: center;
  color: #fff;
  border-radius: 12px 12px 0px 0px;
}
.job-posting-footer {
  background: #bdbdbd;
  padding: 0.2rem;
  text-align: center;
  color: #fff;
  border-radius: 0px 0px 12px 12px;
}

// mobile hospital dash
#mobile-wrapper > a {
  text-decoration: none;
  list-style-type: none;
}

//Form Rate Display
#new_job_form > div:nth-child(7) > span.thumb.active {
  left: auto!important;
  top: auto!important;
  margin: 0 auto!important;
  height: 0!important;
  width: 30px;

}
input[type=range] + .thumb.active .value {
  color: #222;
  font-size: 24px;
  before: "$"
}
input[type=range] + .thumb.active .value::before {
  content: "$";
}

// Facility Signup Page
.facil-signup-wrapper {
  background-image: url('facil_signup.png');
  background-size: cover;
  background-repeat: no-repeat;
  padding: 1rem;
  height: 100vh;
}
.signup-text {
  color: #fff;
}
#signup-button {
  font-size: 22px;
  width: 80%;
}
.tab col.s3 a, .tabs .tab a:hover, .tabs .tab a.active, .tabs .tab a {
  color: #1FA0FC;
}
.tabs .indicator {
  background-color: #1FA0FC;
}
#signup-form-headline {
  color: #1FA0FC;
  text-align: center;
}
#signup-headline {
  font-size: 72px;
}
#form-background {
  // background-color: rgba(234,234,234,0.95);
  background-color: #fff;
  padding: 2rem 2rem;
}
::placeholder {
  color: #787878;
  font-size: 1.2rem;
}
span.character-coutner, #new_hospital > div > span {
  display: none;
}
input:not([type]):focus:not([readonly]), input[type=text]:not(.browser-default):focus:not([readonly]), input[type=password]:not(.browser-default):focus:not([readonly]), input[type=email]:not(.browser-default):focus:not([readonly]), input[type=url]:not(.browser-default):focus:not([readonly]), input[type=time]:not(.browser-default):focus:not([readonly]), input[type=date]:not(.browser-default):focus:not([readonly]), input[type=datetime]:not(.browser-default):focus:not([readonly]), input[type=datetime-local]:not(.browser-default):focus:not([readonly]), input[type=tel]:not(.browser-default):focus:not([readonly]), input[type=number]:not(.browser-default):focus:not([readonly]), input[type=search]:not(.browser-default):focus:not([readonly]), textarea.materialize-textarea:focus:not([readonly]) {
  border-bottom: 1px solid #42a5f5;
  box-shadow: 1px solid #42a5f5;
}

// Professional sign up page
.prof-signup-wrapper {
  background-image: url('yoopy_prof.png');
  background-size: cover;
  background-repeat: no-repeat;
  padding: 1rem;
  height: 100vh;
}
#new_prof > div > span {
  display: none;
}
#linkedin {
  display: inline-block;
  float: left;
  width: 40%;
}
#signup {
  width: 40%;
}

// Job Index page
#job-cards {
  width: 80%;
  margin: 2rem auto;
}
#job-card-timer {
  border-right: 2px solid #ccc;
  padding: 1rem;
  line-height: 1rem;
}
#reserve-buttons {
  display: inline-flex;
}
#reserve-buttons li {
  padding: 0rem 1rem 0rem 0rem;
  margin-top: 1rem;
}

// footer
.page-footer {
  background-color: #A5A5AF!important;
  z-index: 99999;
}
//Slot buttons
.btn.disabled, .disabled.btn-large, .btn-floating.disabled, .btn-large.disabled, .btn-flat.disabled, .btn:disabled, .btn-large:disabled, .btn-floating:disabled, .btn-large:disabled, .btn-flat:disabled, .btn[disabled], [disabled].btn-large, .btn-floating[disabled], .btn-large[disabled], .btn-flat[disabled] {
      pointer-events: none;
      background-color: #DFDFDF !important;
      box-shadow: none;
      color: #9F9F9F !important;
      cursor: default;
  }
  .btn-floating {
    display: inline-block;
  }
//notifications unred / content
span#unred{
  color: black;
  position: relative;
  z-index: 10;
}
#dropdown1{
  position: relative;
  right: 0px;
  bottom: 50px;
  overflow: visible;
  li{
  background-color: rgb(242, 239, 239);
  }
}

// ---- MEDIA QUERIES ----
@media only screen and (min-width: 504px) {
  #facil-button {
    margin-bottom: 0;
  }
}
@media only screen and (max-width: 900px) {
  #job_rate {
    width: 50%;
  }
  #new_job_form > div:nth-child(7) > span:nth-child(4) > span,#new_job_form > div:nth-child(7) > span.character-counter, .character-counter {
    display: none;
  }
  .jobs-card-hospitals, .new-job-card-hospitals {
    width: 100%;
  }
}
@media only screen and (max-width: 1200px) and (min-width: 900px) {
  #signup {
    width: 100%;
    clear: both!important;
    margin-bottom: 1rem;
  }
  #linkedin {
    width: 100%;
  }

}
