.main {
  background-color: rgb(78, 79, 78);
  .sidebar-stuff {
    float: left;
    margin-top: 15px;
      &:before {
      content: " ";
      height: 260px;
      border: 2px solid #fff;
      position: absolute;
      margin-left: 35px;
    }
  }
  .F_dash {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    background-color: #fff;
    .F_title {
      position: absolute;
      top: 15%;
      left: 20%;
      .user_type {
        font-size: 2rem;
        display: block;
        margin-top: -2rem;
        text-transform: uppercase;
        letter-spacing: 0.5rem;
      }
      .user_name {
        font-size: 1.5rem;        
      }
      .user_etc {
        position: relative;
        top: 4rem;        
      }
      .user_details {        
        font-size: 1.5rem;
        display: block;
      }
    }
    .favorite_wrap {
      display: inline-block;
      height: 20rem;
      width: 25rem;
      background: #fff;
      margin-left: auto;
      .favorites {
        display: block;
        height: 100%;
        width:100%;
        background-color: rgba(0, 0, 0, 0.30);
        text-align: center;
        margin-right: auto;
        overflow: scroll;
        li {
          font-size: 1.2rem;          
          border-top: 2px solid #fff;
          border-bottom: 2px solid #fff;
          .delete-fav {
            float: right;
            color: black;
          }              
        }
        .no-favs {
          font-size: 50px;
          border-radius: 50px;
          padding: 10px;
          border: 2px solid black;
          color: black;
          transform: scale(1);
          transition: transform 300ms ease-in;
          &:hover {
            transform: scale(1.2);
            transition: transform 300ms ease-in;
          }
        }

        h5 {
          margin-top: 0;
        }
      }
    }
    .dash_right{
      height: auto;
      width: 100%;
    }
    .all_jobs_wrap {
      display: flex;
      height: 100vh;
      justify-content: space-around;
      flex-wrap: wrap;
      .job_wrap{
        width: 40%;
        height: 200px;
        box-shadow: 5px 10px 5px rgba(0, 0, 0, 0.20), 5px 16px 8px rgba(0, 0, 0, 0.3);
        background-color: #fff;
        margin: 5px;
        font-family: 'Source Sans Pro', sans-serif;
        display: flex;
        border: 4px solid green;
        border-radius: 11px;
          small {
            font-size: 14px;
          }
          @for $i from 1 through 10 {
            &:nth-child(#{$i}) {
            animation-name: loadJobs;
            animation-duration: 200ms * $i;
            animation-delay: 200ms * $i;
            animation-timing-function: ease-in;
            animation-fill-mode: forwards;
          }
        }
        i.head-icon {
          float: right;

        }
        .job_header {
          display: block;
          height: 100%;
          width: 150px;
          background-color: #ccc;
          text-align: center;
          border-radius: 6px 0 0 6px;
          .title {
            margin-top: 21px;
            margin-bottom: 23px;
          }
        }
        .job_content {
          display: inline-block;
          width: 70%;
          margin-left: 22px;
          &:before {
            content: "";
            background-color: green;
            padding: 1px;
            position: relative;
            margin-left: -13px;
            padding-bottom: 72px;
            bottom: -51px;
          }
          .edit-icon {
            display: inline-block;
            float: right;
            .mode_edit{
              transform: scale(1);
              transition: transform 200ms ease-in;
              &:hover {
                cursor: pointer;
                transform: scale(1.2);
                transition: transform 200ms ease-in;
              }
            }
            i {
              color: #000;
            }
          }
          .job_des {
            height: 67px;
            overflow: scroll;
            &:before {
              content: "";
              position: absolute;
              background-color: green;
              border-radius: 50%;
              display: block;
              margin-left: -17px;
              padding: 5px;
              margin-top: 22px;

            }
          }
          .job_slots {
              &:before {
                content: "";
                position: absolute;
                background-color: green;
                border-radius: 50%;
                display: block;
                margin-left: -17px;
                padding: 5px;
                margin-top: 29px;
              }
              ul {
                display: flex;
                margin-top: 10px;
                li.slot-icon {
                  i {
                    font-size: 35px;
                    &:hover {
                      cursor: pointer;
                    }
                  }
                  .not-available {
                    color: green;
                    transform: scale(1);
                    transition: transform 300ms ease-in;
                    &:hover {
                      transform: scale(1.2);
                      transition: transform 300ms ease-in;
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  }
//SideBar
.sidebar-friend {
  height: 100%;
  background-color: rgb(78, 79, 78);
  width: 75px;
  transition: width 400ms ease-in;
  &:hover {
    width: 200px;
    transition: width 400ms ease-in;
    h6 {
      opacity: 1;
      transition: opacity 200ms 400ms ease-in;
    }
  }
  ul {
    background-color: rgb(78, 79, 78);
    list-style: none;
    height: 385px;
    li {
      text-align: center;
      height: 60px;
      padding: 20px 10px;
      position: relative;
      i {
        font-size: 40px;
        float: left;
        color: rgb(78, 79, 78);
        width: 50px;
        height: 50px;
        margin-top: -20px;
        padding-top: 5px;
        border-radius: 50%;
        box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.30);
        background-color: #fff;
      }
      h6 {
        opacity: 0;
        color: #fff;
        margin-top: 0;
        transition: opacity 200ms ease-in;
      }
    }
  }
}
//New FriendJob Container
.modal_back {
  top:0;
  bottom:0;
  position: fixed;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.30);
  z-index: 5;
  display: none;
}
#modal_friend {
  display: flex;        
  transform-origin: 50% 50%;
  justify-content: center;
  form {
    padding: 15px;
    label {
      color: #fff;
    }
    input {
      &[type="text"]{
        color: #fff;
        &:focus {
          border-bottom: 3px solid #FFF;
        }
      }
    }
  }
  .new_job_form {
    width: 40rem;
    background-color: #6B6D6B;
    border: 8px solid green;
    position: relative;
    color: #fff;
    box-shadow: 10px 10px 12px rgba(0, 0, 0.10, 0.6), 0px 15px 16px rgba(0, 0, 0.20, 0.7);
    z-index: 2;
    select {
      width: 20rem;
    }
    .close-friend{
      width: 20px;
      right: 5px;
      top: 5px;
      margin-right: 0;
      position: absolute;
      &:hover {
        cursor: pointer;
      }
    }
  }
}
.is-open {
  animation: isOpen 200ms ease-in forwards;
}

.not-open {
  animation: notOpen 300ms ease-in forwards;

}
@keyframes isOpen {
  0% {
    transform: scale(0);
    opacity: 0;
  }
  90% {
    transform: scale(1.2);
    opacity: 1;
  }
  100% {
    transform: scale(1);
  }
}
@keyframes notOpen {
  0% {
    transform: translateX(0) rotate(0deg);
  }
  100% {
    transform: translateX(1100px) rotate(180deg);
  }
}
.modal_prof_back {
  top:0;
  bottom:0;
  position: fixed;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.30);
  z-index: 5;
  display: none;
  justify-content: center;
  align-items: center;
  .modal-content-friend {
    width: 100%;
    margin: auto;
  }
}
.modal_edit_back {
  top:0;
  bottom:0;
  position: fixed;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.30);
  z-index: 5;
  display: none;
  justify-content: center;
  align-items: center;
  .edit_job_back {
    width: 100%;
    margin: auto;
    background-color: rgb(107, 109, 107);
    padding: 20px;
    border: 5px solid green;
    form {
      label {
        color: #fff;
      }
      input[type='text']{
        color: #fff;
      }
      .edit_friendJob_close {
        display: inline-block;
        float: right;
        i {
          color: #fff;
          text-decoration: none;
          &:hover {
            cursor: pointer;
          }
        }
      }
    }
  }
}
.prof_show_back {
  display: flex;
  background-color: #FFF;
  flex-flow: column wrap;
  box-shadow: 8px 8px 8px rgba(0, 0, 0, 0.40);
  width: 500px;
  height: 255px;
  border: 4px solid green;
  border-radius: 10px;
  .prof_show_head {
    width: 70%;
    height: 100%;
    h4 {
      font-size: 2.28rem;
      line-height: 110%;
      margin: 1.52rem 0 0.912rem 2rem;
    }
    .prof_show_image {
      height: 115px;
      i {
        position: relative;
        font-size: 80px;
        padding: 0px 15px;
        top: 10px;
      }
      .pay_box {
        display: flex;
        svg {
          height: 80px;
          width: 80px;
          margin-top: 10px;
          stroke-dasharray: 310px;
          margin-left: 135px;
          stroke-dashoffset: 310px;
          transition: stroke-dashoffset 500ms ease-in;
          .st0 {
            stroke: green;
          }
          .st1 {
            opacity: 1;
            transition: opacity 500ms ease-in;
          }
        }
        .pay {
          font-size: 1.64rem;
          line-height: 110%;
          margin: 1.0933333333rem 0 0.656rem 0;
          position: absolute;
          top: 78px;
          opacity: 0;
          transition: opacity 500ms ease-in;
          color: green;
          right: 192px;
        }
        &:hover {
          svg {
            stroke-dashoffset: 0px;
            transition: stroke-dashoffset 500ms ease-in;
            cursor: pointer;
            .st1 {
              opacity: 0;
              transition: opacity 500ms ease-in;
            }
          }
          .pay {
            opacity: 1;
            transition: opacity 500ms ease-in;
            h5 {
              cursor: pointer;
            }
          }
        }
      }
    }
    .prof_show_social {
      ul {
        display: flex;
        justify-content: space-around;
        li {
          width: 50px;
          .twitter {
            stroke-dasharray: 305px;
            stroke-dashoffset: 305px;
            stroke-width: 2px;
            transition: stroke-dashoffset 500ms ease-in;
          }
          .linkedin {
            stroke-dasharray: 305px;
            stroke-dashoffset: 305px;
            stroke-width: 2px;
            transition: stroke-dashoffset 500ms ease-in;
          }
          .facebook {
            stroke-dasharray: 305px;
            stroke-dashoffset: 305px;
            stroke-width: 2px;
            transition: stroke-dashoffset 500ms ease-in;
          }
          &:hover {
            animation: circle 200ms ease-in-out forwards;
            .twitter {
              stroke-dashoffset: 0px;
              transition: stroke-dashoffset 500ms ease-in;
            }
            .linkedin {
              stroke-dashoffset: 0px;
              transition: stroke-dashoffset 500ms ease-in;
            }
            .facebook {
              stroke-dashoffset: 0px;
              transition: stroke-dashoffset 500ms ease-in;
            }
          }
        }
      }
    }
  }
  @keyframes circle {
    0% {
      transform: scale(1);
    }
    50%{
      transform: scale(1.2)
    }
    100% {
      transform: scale(1);
    }
  }
  .close_prof_show {
    width: 20px;
    margin-left: auto;
    &:hover {
      cursor: pointer;
    }
  }
  .prof_show_right{
    height: 100%;
    background-color: #ccc;
    border-radius: 0px 6px 6px 0;
    &:before {
      content: "";
      height: 102px;
      margin-top: 70px;
      background-color: green;
      position: absolute;
      width: 3px;
      right: 166px;
    }
    .prof_show_title {
      margin-top: 30px;
      margin-bottom: 4px;
      margin-left: 10px;
      display: inline-block;
      &:before {
        content: "";
        height: 20px;
        width: 20px;
        display: block;
        border: 2px solid green;
        border-radius: 50%;
        position: absolute;
        right: 158px;
        top: 64px;
        background-color: #fff;
      }
    }
    .prof_show_license {
      margin-top: 0;
      margin-left: 10px;
      &:before {
        content: "";
        height: 20px;
        width: 20px;
        display: block;
        border: 2px solid green;
        border-radius: 50%;
        position: absolute;
        right: 158px;
        top: 165px;
        background-color: #fff;
      }
    }
    i {
      float: right;
      color: #fff;
      margin-right: 5px;
    }
    label {
      color: #000;
    }
    h6 {
      color: #000;
    }
  }
}
#map1 {
  position: absolute;
  overflow: hidden;
  height: 300px;
  width: 67vw;
}
