@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro');
.main {
  background-color: rgb(78, 79, 78);
  .sidebar-stuff {
    float: left;
      &:before {
      content: " ";
      height: 100%;
      border: 2px solid #fff;
      height: 100%;
      position: absolute;
      margin-left: 35px;
    }
  }
  .H_dash {
    display: flex;
    background-color: rgba(173, 178, 173, 0.8);
    .dash_right{
      height: auto;
      width: 100%;
    }
    .all_jobs_wrap {
      display: flex;
      height: 100vh;
      justify-content: space-around;
      flex-wrap: wrap;
      .job_wrap{
        width: 40%;
        height: 200px;
        box-shadow: 5px 10px 5px rgba(0, 0, 0, 0.20), 5px 16px 8px rgba(0, 0, 0, 0.3);
        background-color: #fff;
        text-align: center;
        margin: 5px;
        align-items: center;
        font-family: 'Source Sans Pro', sans-serif;
        opacity: 0;
          @for $i from 1 through 2 {
            &:nth-child(#{$i}) {
            animation-name: loadJobs;
            animation-duration: 200ms * $i;
            animation-delay: 200ms * $i;
            animation-timing-function: ease-in;
            animation-fill-mode: forwards;
          }
        }
        .job_header {
          background-color: rgba(0, 0, 0, 0.2);
          border-bottom: 2px solid rgb(4, 204, 4);
          display: flex;
          i.head-icon {
            margin-left: auto;
          }
          h5 {
            font-weight: bold;
            text-transform: capitalize;
            display: inline-block;
          }
        }
        .job_content {
          height: 100px;
          justify-content: flex-start;
          font-size: 20px;
            p {
            float:left;
            clear:both;
            text-align: left;
            margin:0;
            label {
              text-align: left;
              display: inline-block;
              width: 110px;
            }
          }
        }
        .job_footer {
          background-color: rgb(190, 247, 190);
          border-top: 2px solid rgb(42, 237, 42);
          height: 45px;
          display: flex;
          width: 100%;
          position: absolute;
          bottom: 0;
          label {
            height: 31px;
            text-align: left;
            float: left;
            padding-right: 15px;
          }
          ul {
            display: flex;
            justify-content: space-between;
            align-items: flex-start;
          }
          i.foot-icon{

          }
        }
      }
    }
  }
}

//SIDEBAR

.sidebar-hospital {
  height: 100%;
  background-color: rgb(78, 79, 78);
  width: 75px;
  transition: width 400ms ease-in;
  &:hover {
    width: 200px;
    transition: width 400ms ease-in;
    h6 {
      opacity: 1;
      transition: opacity 200ms 400ms ease-in;
    }
  }
  ul {
    background-color: rgb(78, 79, 78);
    list-style: none;
    height: 385px;
    li {
      text-align: center;
      height: 60px;
      padding: 20px 10px;
      position: relative;
      i {
        font-size: 40px;
        float: left;
        color: rgb(78, 79, 78);
        width: 50px;
        height: 50px;
        margin-top: -20px;
        padding-top: 5px;
        border-radius: 50%;
        box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.30);
        background-color: #fff;
      }
      h6 {
        opacity: 0;
        color: #fff;
        margin-top: 0;
        transition: opacity 200ms ease-in;
      }
    }
  }
}
//ADD JOB FORM
#new_job_form {
  width: 400px;
  background-color: #6B6D6B;
  position: relative;
  color: #fff;
  box-shadow: 10px 10px 12px rgba(0, 0, 0.10, 0.6), 0px 15px 16px rgba(0, 0, 0.20, 0.7);
  z-index: 2;
}
//ADD JOB CONTAINER
.modal_back {
  top:0;
  bottom:0;
  position: fixed;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.30);
  z-index: 5;
  display: none;
}
#modal_hospital {
  width: 400px;
  margin: auto;
  transform-origin: 50% 50%;
  form {
    padding: 15px;
    label {
      color: #fff;
    }
    input {
      &[type="text"]{
        color: #fff;
      }
      &:focus {
        border-bottom: 3px solid #FFF;
      }
    }
  }
}
//POST JOB ANIMATION

.activated {
  animation: activated 200ms ease-in forwards;
}

.not-activated {
  animation: notActivated 300ms ease-in forwards;

}
@keyframes activated {
  0% {
    transform: scale(0);
    opacity: 0;
  }
  90% {
    transform: scale(1.2);
    opacity: 1;
  }
  100% {
    transform: scale(1);
  }
}
@keyframes notActivated {
  0% {
    transform: translateX(0) rotate(0deg);
  }
  100% {
    transform: translateX(1100px) rotate(180deg);
  }
}

//CLOSE ADD_JOB FORM BUTTON
.close-form{
  width: 20px;
  right: 5px;
  top: 5px;
  margin-right: 0;
  position: absolute;
  &:hover {
    cursor: default;
  }
}
//Edit job Form
.edit-job {
  position: relative;
  width: 20%;
  padding: 0;
  left: 40%;
  top: 35%;
  form {
    padding: 15px;
    position: relative;
    width: 300px;
    height: 300px;
    background-color: #6B6D6B;
    input {
      &[type="text"]{
        color: #fff;
        &::placeholder {
          color: #fff;
        }
      }
    }
    .close-edit {
      position: absolute;
      right: 0;
      color: #fff;
    }
    i {
      color: white;

      &:hover {
        cursor: pointer;
      }
    }
  }
}
.slide-up {
  animation: slideUp 1s ease-in forwards;
}

@keyframes slideUp {
  0% {
    transform: translateY(0px);
    opacity: 0;
  }
  100% {
    transform: translateY(-200px);
    opacity: 1;
  }
}

@keyframes slideDown {
  0% {
    transform: translateY(-200px);
    opacity: 0;
  }
  100% {
    transform: translateY(0px);
    opacity: 1;
  }
}
@keyframes loadJobs {
  0% {
    opacity: 0;
    transform: rotateY(-90deg) translateY(30px);
  }
  100% {
    opacity: 1;
    transform: rotateY(0deg) translateY(0px);
  }
}
@media (max-width: 600px){
  .H_dash {
    flex-flow: column wrap;
    width: 100%;
    .dash_right{
      .all_jobs_wrap {
        flex-direction: column;
        width: 100%;
          .job_wrap {
            width: 100%;
            margin: 0;
            align-items: none;
          }
      }
    }
  }
  .sidebar-stuff {
    width: 100%;
    .sidebar-hospital {
      width: 100%;
      ul {
        width: 100%;
        li {
          text-align: center;
          opacity: 1;

        }
      }
    }
  }
}
